@page "/main"
@inject ILocalStorageService localStorage
@using Microsoft.AspNetCore.Http
@using HRIS.Blazor.Model
@inject IHttpContextAccessor httpContextAccessor
@inject TokenProvider token

    <title>Dashboard</title>

    <h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />


    @code{
        protected override async Task OnInitializedAsync()
        {

        }
    }

